<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Error</title>
</head>
<body>
	<hgroup>
		<h1>removed</h1>
		<h2>user was removed, gamed enta keda ya3ni.</h2>
	</hgroup>
</body>
</html>

