


<nav class="navbar fixed-top">
    <div class="container-fluid">

        <a href="#" class="nav-brand" style="margin-left:7%">Dash Board</a>



        <div class="d-flex justify-content-center hidden-md-down">
            <a class="nav-bar-link" href="@Url.Action("profile","Admin")">Profile</a>
            <a class="nav-bar-link" href="@Url.Action("Posts","Admin")">Posts Page</a>
            <a class="nav-bar-link" href="@Url.Action("PendingPosts","Admin")">Pending Posts</a>
        </div>


        <div class="justify-content-end" style="margin-right:3%">

            <div class="sign-nav-button">Logout</div>


        </div>

    </div>
</nav>

