body {
    background-color: #eee;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #171717; /* Black*/
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    margin-right: 70px;
}


#main {
    transition: margin-left .5s;
    padding: 20px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.nav-brand {
    margin-left: 5%;
    font-size: 25px;
    color: #eee;
    font-family: sans-serif;
    transition: all .2s ease-out;
    font-weight:600;
}


.nav-bar-link{
    font-size:20px;
    color:#eee;
    margin:0px 55px;
    font-family:sans-serif;
    transition:all .2s ease-out;
}

.nav-brand:hover, .nav-bar-link:hover {
    text-decoration: none;
    color:rgb(0, 0, 0);
}
.open-nav {
    font-size: 25px;
    color: #eee;
    display: inline-block;
}

.navbar {
    background-color: #0d6efd;
    z-index: 2;
}

.link-item {
    height: 50px;
    width: 90%;
    float: left;
    color: #eee;
    background-color: #0d6efd; /*#525252c9*/
    margin-top: 30px;
    padding-left: 15px;
    padding-top: 12px;
    font-size: large;
    border-radius: 17px;
    transition: width .1s linear;
}

    .link-item:hover {
        width: 95%;
        text-decoration: none;
        /* color: #eee; */
    }

.closebtn {
    font-size: 25px;
    color: #eee;
    display: none;
}

.nav-text {
    font-size: 0px;
    color: #eee;
}




.cards {
    height: fit-content;
    border-radius: 20px;
    padding: 20px 20px;
    /*border: 3px solid #ff4d4d;*/
    font-family: Arial;
    margin: 20px;
    transition: all .1s ease;
    float: left;
}

    .cards:hover {
        transform: scale(1.03,1.05);
        text-decoration: none;
    }

.warn-card {
    background-color: #f00;
    box-shadow: 0px 0px 0px 1px #c00d0d;
}

.success-card {
    background-color: rgb(57, 218, 57);
    box-shadow: 0px 0px 0px 1px #11c730;
}

.inform-card {
    background-color: rgb(104, 104, 255);
    box-shadow: 0px 0px 0px 1px #430dc0;
}

.dark-card {
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 0px 0px 1px #2b2b2b;
}

.card-title {
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.card-cont {
    color: #eee;
    font-size: 17px;
    font-family: Arial;
}

.dashboard-agency {
    padding: 20px 40px;
}

#notify-num {
    width: 25px;
    height: 25px;
    background-color: #f00;
    color: #eee;
    border-radius: 100%;
    font-size: 13px;
    padding: 2px 0px;
    position: static;
    text-align: center;
    float: right;
    margin-top: -25px;
}

.close-card {
    color: #eee;
    position: sticky;
    display: block;
    float: right;
    cursor: pointer;
    transition: transform .1s ease;
}

    .close-card:hover {
        transform: scale(1.3,1.3);
    }

.new-post-window {
    width: 100%;
    height: 100%;
    background-color: rgba(18,18,18, .7);
    position: absolute;
    z-index: 3;
    transition: all linear .2s;
    transform: scaleY(0);
}

#create-post-icon {
    transition: transform .2s linear;
}

.new-post {
    background-color: #c7c7c7;
    border-radius: 5px;
    width: 70%;
    margin: auto;
    /* height: 450px; */
    padding: 50px 40px;
}

@media (max-width: 600px) {
    .new-post {
        width: 80%;
    }
}

.new-post form {
    height: auto;
    padding-bottom: 20px;
}

.newpost-content {
    width: 100%;
    height: 160px;
    font-size: 13px;
    padding: 5px 20px;
    font-family: Tahoma, sans-serif;
    resize: none;
    outline: none;
    color: #0d6efd;
    margin-bottom: 0px;
    border-top-style: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #eee;
    border-radius: 10px;
}

.newpost-header {
    color: #0d6efd;
    height: 40px;
    margin-bottom: 0px;
    padding: 5px 20px;
    font-family: Tahoma, sans-serif;
    width: 100%;
    font-size: 13px;
    margin-top: 20px;
    outline: none;
    border-top-style: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: #eee;
    border-radius: 10px;
}

    .newpost-header::placeholder, .newpost-content::placeholder {
        opacity: .7;
        color: #0d6efd;
    }

.form-input-divider {
    margin: 0px auto 20px;
    background-color: #eee;
    width: 97%;
    height: 2px;
}

.form-input-insider {
    width: 0px;
    margin-left: 50%;
    background-color: #000;
    height: 100%;
    transition: all .6s linear;
}


.add-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .add-file + label {
        color: white;
        display: inline-block;
        padding: 10px;
    }


.newpost-submition {
    margin-top: 0px;
    margin-bottom: 30px;
    height: auto;
    padding-bottom: 30px;
}

.add-file + label * {
    pointer-events: none;
}

.submit-post {
    float: right;
    margin-right: 10px;
    width: 100px;
}

    .submit-post:hover {
        background-color: transparent;
        color: #0d6efd;
    }

.cancel-post {
    width: 100px;
    float: right;
    margin-right: 20px;
    background-color: transparent;
    color: #f00;
    border: 1px solid #f00;
    font-weight: 500;
}

    .cancel-post:hover {
        background-color: #f00;
        border-color: #f00;
    }

.close-new-post {
    float: right;
    color: #000;
    font-size: 25px;
    margin-top: -58px;
    margin-right: -50px;
    cursor: pointer;
    transition: transform .1s ease;
}

    .close-new-post:hover {
        transform: scale(1.2,1.2);
    }

.active-sideNav {
    background-color: #eee;
    color: #333 !important;
    width: 95%;
}

    .active-sideNav .nav-text {
        color: rgb(0, 0, 0);
    }



/*____________________________posts page______________________________________*/



.post {
    height: auto;
    background-color: #ddd;
    padding: 0px;
    margin: 30px auto;
    border-radius: 10px;
}

.post-header {
    padding: 25px;
    background-color: #ddd;
    border-radius: 10px 10px 0px 0px;
}

.post-title {
    color: #007bff;
    text-align: center;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 500;
}

.user-post-pic {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    float: left;
    margin-right: 15px;
    margin-top: -3px;
}

.post-auther {
    display: inline;
}

.post-options {
    float: right;
    color: #1d1d1d;
    font-size: 25px;
    margin-top: 0px;
    cursor: pointer;
}

.post-img {
    width: 100%;
    height: auto;
}

.post-detials {
    color: #000;
    margin-bottom: 0px;
    font-size: 16px;
}

.post-tail {
    margin-top: 30px;
    color: #1a1a1a;
    padding: 15px 30px;
}

.date-location-cont {
    padding: 10px 40px;
    margin-bottom: 20px;
}

.trip-location {
    color: #000;
    opacity: .7;
    font-size: 15px;
    float: right;
}

.trip-date {
    color: #000;
    opacity: .7;
    font-size: 12px;
    float: left;
    margin-left: -10px;
    margin-top: 3px;
}

.post-comment-icon {
    color: #000;
    font-size: 25px;
    float: right;
    margin-right: 50px;
    cursor: pointer;
    transform: scale(1,1);
    transition: transform ease .2s;
}

.post-dislike-icon, .post-like-icon {
    color: #000;
    font-size: 25px;
    margin-left: 50px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform ease .2s;
}

    .post-comment-icon:hover, .post-dislike-icon:hover, .post-like-icon:hover {
        transform: scale(1.1,1.1);
    }

.post-comments {
    width: 100%;
    height: auto;
    margin-top: 0px;
    padding: 10px;
    display: none;
}

.post-single-comment {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    margin: 20px 0px;
}

.comment-auther {
    margin-bottom: 5px;
}

.comment-auther-name {
    font-size: 15px;
    color: #171717;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    float: left;
    margin-top: 5px;
    margin-right: 20px;
}

.comment-content {
    margin: 15px 5px 10px;
}

.post-date {
    font-size: 13px;
    margin-left: 50px;
    color: #000;
}

.write-comment {
    padding: 10px 10px;
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    background-color: #eee;
    outline: none;
}

.comment-submit-button {
    float: right;
    margin-top: 15px;
    margin-right: 20px;
    transition: background-color .2s ease;
}

    .comment-submit-button:hover {
        background-color: transparent;
        color: #0d6efd;
    }

.add-comment {
    margin-top: 30px;
    border: 1px solid #333;
    padding: 20px 10px 70px 10px;
    position: relative;
}

.comment-date {
    font-size: 10px;
    margin-top: 0px;
    padding-top: 10px;
    padding-right: 20px;
}

.likes-counter {
    width: 200px;
    height: 3px;
    background-color: rgb(136, 136, 136);
    position: absolute;
}

.gaven-likes-counter {
    width: 50%;
    height: 3px;
    background-color: #0d6efd;
    float: left;
    transition: width .5s ease;
}

.gaven-dislikes-counter {
    width: 50%;
    height: 3px;
    background-color: #f00;
    float: right;
    transition: width .5s ease;
}

.la-ban, .la-trash, .la-user-edit, .la-unlink {
    margin-right: 10px;
}


.acception {
    float: left;
    margin: 10px 20px;
}

.acception-icon {
    padding: 10px;
    background-color: #f00;
    color: #eee;
    font-weight: bolder;
    border-radius: 100%;
    cursor: pointer;
    border: 1px solid #f00;
    transition: all .3s ease-out;
}

    .acception-icon:hover {
        background-color: transparent;
        color: #f00;
    }

.acception .la-check {
    background-color: #0f0;
    margin-left: 30px;
    border: 1px solid #0f0;
}

    .acception .la-check:hover {
        background-color: transparent;
        color: #0f0;
    }

.acception button {
    border: none;
    outline: none;
    background-color: transparent;
}


















#notification-menu {
    margin-top:60px;
    height: 100%;
    margin-left: 270px;
    background-color: #171717;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px 10px;
    display: none;
    /* opacity: 0;
        transition:all  .3s ease; */
}

.notifi-tab {
    color: #0d6efd;
    float: right;
}

.notfis-list {
    margin-top: 30px;
}


.user-post-pic {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
}

.post-auther-name {
    font-size: 15px;
    color: #007bff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: inline-block;
}

.notifi-name {
    font-size: 15px;
    color: #171717;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

.notifi-body {
    padding: 0px 40px;
}

.single-notifi {
    border: 1px solid rgb(75, 75, 75);
    border-radius: 17px;
    margin: 5px 0px;
    padding: 10px;
    background-color: rgb(199, 199, 199);
    display: block;
    overflow-x: hidden;
    transition: all .1s linear;
}

    .single-notifi:hover {
        background-color: rgb(119, 119, 119);
        text-decoration: none;
    }

.close-notifi {
    float: right;
    transition: transform linear .1s;
    cursor: pointer;
}

    .close-notifi:hover {
        transform: scale(1.3,1.3);
    }


.massive-container {
    background-color: #004bb9;
    padding: 40px 10px 60px;
}

.all-notifications {
    margin-top: 0px;
    width: 100%;
    padding: 0px;
    overflow-y: hidden;
    transition: all linear .5s;
}

.notification-cont {
    background-color: #ddd;
    border-bottom: rgb(197, 197, 197) 1px solid;
    padding: 10px 20px;
}

.notifi-name {
    font-weight: 530;
}

.notifi-date {
    display: block;
    font-size: 10px;
    opacity: .7;
}

.user-notification-pic {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    float: left;
    margin-right: 10px;
    margin-top: 0px;
}

.notification-options {
    font-size: 16px;
    float: right;
}

.post-noti-icon {
    font-size: 20px;
    margin-right: 10px;
}

.dropdown-item {
    cursor: pointer;
}

.notification-controller {
    width: auto;
    height: fit-content;
    float: right;
    border-radius: 100%;
    background-color: #0d6efd;
    padding: 10px;
    margin-right: 20px;
    transform: rotateZ(45deg);
    position: relative;
    transition: transform linear .3s;
    margin-top: 0px;
    cursor: pointer;
}

.notification-controller-icon {
    text-align: center;
    font-weight: 1000;
    color: #eee;
    font-size: 30px;
}

.notifications-container {
    padding: 10px 40px;
    transition: all .5s linear;
}


/*_____________________________________       Agency Profile   _____________________________________________*/


.settings-cont {
    margin: 50px auto;
    background-color: #0d6efd;
    padding: 20px 10px 30px;
    overflow-x: hidden;
    height: fit-content;
    border-radius: 5px;
}

.single-setting-cont {
    padding: 10px 20px;
    background-color: #eee;
    margin-top: 10px;
    cursor: pointer;
    display: block;
    color: #007bff;
    border-radius: 10px;
    transition: all linear .1s;
}

    .single-setting-cont:hover {
        text-decoration: none;
        color: #007bff;
        background-color: #b9b9b9;
    }

.info-cont {
    background-color: #0d6efd;
    margin: 30px auto;
    padding: 20px 10px;
    border-radius: 5px;
}

.user-profile-pic {
    border-radius: 100%;
    border: 5px solid #0d6efd;
    padding: 5px;
    width: 100%;
    float: left;
    margin-bottom: 10px;
    cursor: pointer;
}

.user-info-container {
    background-color: #ddd;
    padding: 10px;
    height: 100%;
}

.user-name {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.user-name-pic {
    margin-left: 20px;
    background-color: #eee;
    border-radius: 5px;
}

.user-typed-infos {
    height: 100%;
    padding: 20px 10px;
}

.user-single-info-cont {
    padding: 20px;
    background-color: #eee;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px #ddd;
}

.single-info-icon {
    font-size: 20px;
    margin-right: 10px;
}


.active-profile-settings {
    background-color: #004bb9;
    color: #eee;
}

    .active-profile-settings:hover {
        color: #eee;
        background-color: #004bb9;
    }

.user-info-container {
    display: none;
}

#profile-info-cont {
    display: block;
}




.edit-info-feild {
    width: 300px;
    height: 25px;
    padding: 20px;
    outline: none;
    border-radius: 10px;
    margin: 20px 10px;
    border: none;
    color: #007bff;
}
/* #edit-info-cont,#reset-pass-cont{
    background-color: #004bb9;
} */

.edit-info-input {
    width: 90%;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.edit-info-container {
    padding: 10px;
    background-color: #eee;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px #ddd;
}

.update-data-button {
    margin: 40px auto;
    width: 100px;
    border-radius: 7px;
}

.submit-data {
    background-color: #007bff;
    color: #eee;
    margin-left: 20px;
}

.cancel-data {
    background-color: #f00;
    color: #eee;
}

.edit-info-tail {
    padding: 20px 10px 0px;
}

.container-fluid .row form {
    padding: 30px;
    display: contents;
}

.user-typed-infos {
    padding: 30px;
}

.buttons-conteh {
    margin-right: 50px;
    float: right;
    padding-top: 40px;
}

.warn-change-data {
    margin-top: 20px;
}

.delete-account-btn {
    cursor: pointer;
    width: max-content;
    margin: 20px 40px;
    background-color: #f00;
    color: #eee;
    font-weight: 500;
    border: 2px solid #f00;
    border-radius: 7px;
}

    .delete-account-btn:hover {
        background-color: transparent;
        color: #f00;
    }

.user-profile-ing-child {
    margin: 0px auto;
}

#full-user-img {
    width: 100%;
}

#user-profile-full-cont {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 3;
    transform: scaleX(0);
    transition: all .2s linear;
}

.option-profile-pic-icon {
    font-size: 20px;
    color: #fff;
    padding: 10px;
    background-color: #f00;
    border-radius: 100%;
    margin: 30px 90% 0px;
    cursor: pointer;
    position: relative;
}

    .option-profile-pic-icon:hover {
        background-color: rgb(228, 0, 0);
    }

#user-pic-update-view {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 3;
}

.user-pic-update-view-child {
    margin: 10% auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #007bff;
    display: grid;
}

.view-photo-options {
    width: 100%;
    background-color: #eee;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    color: #007bff;
    cursor: pointer;
    transition: all .3s ease;
}

.upload-photo-options {
    width: 100%;
    background-color: #eee !important;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    color: #007bff !important;
    cursor: pointer;
    transition: all .3s ease;
}

.view-photo-options:hover {
    background-color: rgb(191, 190, 190);
}

.upload-photo-options:hover {
    background-color: rgb(191, 190, 190) !important;
}

#login-form, #register-form, #profile-pic-options {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 3;
    transform: scaleX(0);
    transition: all .2s linear;
}






#profile-pic-options {
    /* transform: scaleX(0) */
}








/*---------------------------- traveler------------------------------------*/







.d-flex .form-search {
    display: block;
    width: 100%;
    padding: 5px 15px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.5;
    color: #0d6efd;
    background-color: #eee;
    border: none;
    outline: none;
    border-radius: 5px 0px 0px 5px;
}

.search-btn {
    margin-left: 3px;
    border: none;
    background-color: blue;
    outline: none;
    padding: 5px 10px;
    color: #eee;
    font-size: 12px;
    border-radius: 0px 5px 5px 0px;
}

.sign-nav-button {
    padding: 5px 20px;
    background-color: #eee;
    border-radius: 5px;
    color: #004bb9;
    display: inline-block;
    cursor: pointer;
    transition: all .3s ease-out;
}


    .sign-nav-button:hover {
        background-color: #004bb9;
        color: #eee;
    }

.dropdown-item {
    cursor: pointer;
}











.button-haif {
    padding: 10px 0px;
    float: left;
    width: 50%;
    background-color: #ddd;
    cursor: pointer;
    transition: all .3s ease-out;
    text-align: center;
    border: 1px solid #007bff;
}

    .button-haif:hover {
        text-decoration: none;
        color: #007bff;
        background-color: rgb(191, 190, 190);
    }

.error-options-cont {
    margin: 0px auto;
    width: 100%;
}

.not-reg-error {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-color: #ddd;
    padding: 10px;
    text-align: center;
    color: #f00;
    font-weight: 600;
    border: 1px solid #007bff;
}

.reg-button {
    border-radius: 0px 0px 0px 10px;
}

.login-button {
    border-radius: 0px 0px 10px 0px;
}







.register {
    height: auto;
    background-color: #ddd;
    padding: 50px 0px;
    margin: 0px auto;
    border-radius: 10px;
}

/* .reg-container{
    padding: 5px 10px;
} */
.regist-form {
    margin: auto;
}

.register-form-cont-parent {
    background-color: #ddd;
    height: auto;
}

.register-form-cont-child {
    margin: 0px auto;
}

.register-button {
    margin: 0px;
    width: 100px;
    border-radius: 7px;
}

.button-reg-cont {
    margin-right: 10px;
    float: right;
    padding-top: 40px;
}

.register-input-feild {
    width: 90%;
    border: none;
    outline: none;
    padding: 50px 20px;
    border-radius: 10px;
}

.register-input-cont {
    padding: 5px 10px;
    background-color: #eee;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px #ddd;
}

.sign-input {
    width: 85%;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.user-options-bar-icon {
    font-size: 20px;
    padding: 10px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all .3s ease-out;
    margin: 0px 15px;
}

    .user-options-bar-icon:hover {
        background-color: rgb(197, 197, 197);
        text-decoration: none;
    }

.user-options-bar {
    width: 50%;
    margin: 0px auto;
    padding: 0px;
}

.user-card-options {
    font-size: 25px;
    margin-top: 10px;
}

.warn-delete-account {
    margin: 20px;
}

.copyright-text {
    color: #004bb9;
    background-color: #eee;
}

.social-links {
    color: #004bb9;
}











.users-table-cont {
    padding-top: 0px;
    margin: 0px auto;
}

.users-table .btn {
    padding: 6px 10px;
    line-height: normal;
}

.users-table thead tr {
    background-color: #141920;
    color: #fff;
}

    .users-table thead tr:hover {
        background-color: #141920;
    }

.users-table th, .users-table tr {
    text-align: center;
}

.table td {
    padding: 5px 10px;
    vertical-align: top;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.table tr {
    transition: background-color .5s ease-out;
}

    .table tr:hover {
        background-color: #ccc;
    }


#saved-posts-cont {
    background-color: rgba(199, 199, 199, .9);
}
